@model IEnumerable<CriadorCaes.Models.Animais>

@{
    ViewData["Title"] = "Index";
}

<h1>Lista de Animais</h1>

<p>
    <a asp-action="Create">Criar novo animal</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataNascimento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataCompra)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sexo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumLOP)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Criador)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RacaFK)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
    @* 'Model' é uma palavra reservada!
        Está ligada ao que é fornecido na linha 1 desta página.
        Se é fornecida uma lista, o Model tem uma lista.
        Se é fornecido um único objeto, o Model só tem um objeto...
    *@
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataNascimento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataCompra)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sexo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumLOP)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Criador.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Raca.Nome)
            </td>
            <td>
              
                     <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                     <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
                     <a asp-action="Delete" asp-route-id="@item.Id">Apagar</a>
             
            
               
            </td>
        </tr>
}
    </tbody>
</table>
